### 1) Import Packages

In [178]:
import pypsa

import os
import matplotlib.pyplot as plt
import numpy as npim
import pandas as pd
import warnings
import subprocess
from shapely.errors import ShapelyDeprecationWarning
import logging

warnings.filterwarnings("ignore", category=ShapelyDeprecationWarning)
warnings.filterwarnings("ignore", category=FutureWarning)
logging.getLogger("pypsa.pf").setLevel(logging.WARNING)
plt.rc("figure", figsize=(10, 8))

In [179]:
# Create a new PyPSA network
network = pypsa.Network()
network.set_snapshots(range(1))  # Solve for a year 365*24

In [180]:
type(network)

pypsa.components.Network

In [181]:
# Read excel file which contains Non renewable generators data
bus=pd.read_excel('data_exercise2.xlsx',sheet_name='buses',header=0)

In [182]:
bus

        bus  v_nom carrier          x          y
0  north_de    380      AC  53.558119   9.598188
1   east_de    380      AC  51.076718  13.607779
2   west_de    380      AC  50.981593   6.406648

In [183]:
for index, row in bus.iterrows():
    network.add(
        "Bus",
        name=row['bus'],
        v_nom=row['v_nom'],
        carrier=row['carrier'],
        x=row['x'],
        y=row['y']
    )

In [184]:
network.buses

,v_nom,type,x,y,carrier,unit,v_mag_pu_set,v_mag_pu_min,v_mag_pu_max,control,generator,sub_network
Bus,,,,,,,,,,,,
north_de,380.0,,53.558119,9.598188,AC,,1.0,0.0,inf,PQ,,
east_de,380.0,,51.076718,13.607779,AC,,1.0,0.0,inf,PQ,,
west_de,380.0,,50.981593,6.406648,AC,,1.0,0.0,inf,PQ,,

In [185]:
# Read excel file which contains Non renewable generators data
generators=pd.read_excel('data_exercise2.xlsx',sheet_name='generators')

In [186]:
generators

,generator,p_nom,p_nom_max,bus,p_nom_extendable,marginal_cost,lifetime,efficiency,start_up_cost,shut_down_cost,min_up_time,min_down_time,ramp_limit_up,ramp_limit_down,ramp_limit_start_up,ramp_limit_shut_down
0,gen_no1,31,31,north_de,True,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,gen_ost1,19,19,east_de,True,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,gen_west1,20,30,west_de,True,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [187]:
network.madd(
    "Generator",
    names= generators.generator,
    bus=list(generators.bus),
    carrier=list(generators.generator),
    p_nom=list(generators.p_nom),
    p_nom_max=list(generators.p_nom_max),  # MW
    p_nom_extendable=list(generators.p_nom_extendable),
    marginal_cost=list(generators.marginal_cost),
)
network.generators

C:\Users\AJESH\AppData\Local\Temp\ipykernel_12152\1087367996.py:1: DeprecatedWarning:

madd is deprecated as of 0.31 and will be removed in 1.0. Use `n.add` as a drop-in replacement instead.

,bus,control,type,p_nom,p_nom_mod,p_nom_extendable,p_nom_min,p_nom_max,p_min_pu,p_max_pu,...,min_up_time,min_down_time,up_time_before,down_time_before,ramp_limit_up,ramp_limit_down,ramp_limit_start_up,ramp_limit_shut_down,weight,p_nom_opt
Generator,,,,,,,,,,,,,,,,,,,,,
gen_no1,north_de,PQ,,31.0,0.0,True,0.0,31.0,0.0,1.0,...,0,0,1,0,NaN,NaN,1.0,1.0,1.0,0.0
gen_ost1,east_de,PQ,,19.0,0.0,True,0.0,19.0,0.0,1.0,...,0,0,1,0,NaN,NaN,1.0,1.0,1.0,0.0
gen_west1,west_de,PQ,,20.0,0.0,True,0.0,30.0,0.0,1.0,...,0,0,1,0,NaN,NaN,1.0,1.0,1.0,0.0

In [188]:
network.generators

,bus,control,type,p_nom,p_nom_mod,p_nom_extendable,p_nom_min,p_nom_max,p_min_pu,p_max_pu,...,min_up_time,min_down_time,up_time_before,down_time_before,ramp_limit_up,ramp_limit_down,ramp_limit_start_up,ramp_limit_shut_down,weight,p_nom_opt
Generator,,,,,,,,,,,,,,,,,,,,,
gen_no1,north_de,PQ,,31.0,0.0,True,0.0,31.0,0.0,1.0,...,0,0,1,0,NaN,NaN,1.0,1.0,1.0,0.0
gen_ost1,east_de,PQ,,19.0,0.0,True,0.0,19.0,0.0,1.0,...,0,0,1,0,NaN,NaN,1.0,1.0,1.0,0.0
gen_west1,west_de,PQ,,20.0,0.0,True,0.0,30.0,0.0,1.0,...,0,0,1,0,NaN,NaN,1.0,1.0,1.0,0.0

In [189]:
# Read excel file which contains Non renewable generators data
load=pd.read_excel('data_exercise2.xlsx',sheet_name='load',header=0)

In [190]:
load

        bus  p_set
0  north_de     10
1   east_de     10
2   west_de     40

In [191]:
network.madd(
    "Load",
    names= load.bus,
    bus=list(load.bus),
    p_set=list(load.p_set),
    #p_nom=list(load.p_nom),
    #p_nom_max=list(load.p_nom_max),  # MW
    #p_nom_extendable=list(load.p_nom_extendable),
    #marginal_cost=list(load.marginal_cost),
)
network.loads

C:\Users\AJESH\AppData\Local\Temp\ipykernel_12152\2893457690.py:1: DeprecatedWarning:

madd is deprecated as of 0.31 and will be removed in 1.0. Use `n.add` as a drop-in replacement instead.

               bus carrier type  p_set  q_set  sign  active
Load
north_de  north_de                10.0    0.0  -1.0    True
east_de    east_de                10.0    0.0  -1.0    True
west_de    west_de                40.0    0.0  -1.0    True

In [192]:
network.loads

               bus carrier type  p_set  q_set  sign  active
Load
north_de  north_de                10.0    0.0  -1.0    True
east_de    east_de                10.0    0.0  -1.0    True
west_de    west_de                40.0    0.0  -1.0    True

In [193]:
# Read excel file which contains Non renewable generators data
lines=pd.read_excel('data_exercise2.xlsx',sheet_name='lines',header=0)

In [194]:
lines.head()

       bus0      bus1  s_nom       r  Unnamed: 4       x  line
0  north_de   east_de     14  0.0001         NaN  0.0001     1
1   east_de   west_de     14  0.0001         NaN  0.0001     2
2   west_de  north_de     14  0.0001         NaN  0.0001     3

In [195]:
# Add line connection between the buses
for index, row in lines.iterrows():
    network.add(
        "Line",
        "{}_{}".format(row['bus0'],row['bus1']),
        bus0=row['bus0'],
        bus1=row['bus1'],
        s_nom=row['s_nom'],
        x=1,
    )

In [196]:
network.lines

,bus0,bus1,type,x,r,g,b,s_nom,s_nom_mod,s_nom_extendable,...,v_ang_min,v_ang_max,sub_network,x_pu,r_pu,g_pu,b_pu,x_pu_eff,r_pu_eff,s_nom_opt
Line,,,,,,,,,,,,,,,,,,,,,
north_de_east_de,north_de,east_de,,1.0,0.0,0.0,0.0,14.0,0.0,False,...,-inf,inf,,0.0,0.0,0.0,0.0,0.0,0.0,0.0
east_de_west_de,east_de,west_de,,1.0,0.0,0.0,0.0,14.0,0.0,False,...,-inf,inf,,0.0,0.0,0.0,0.0,0.0,0.0,0.0
west_de_north_de,west_de,north_de,,1.0,0.0,0.0,0.0,14.0,0.0,False,...,-inf,inf,,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [197]:
network

PyPSA Network
Components:
 - Bus: 3
 - Generator: 3
 - Line: 3
 - Load: 3
Snapshots: 1

In [198]:
network.optimize(solver_name='highs')

WARNING:pypsa.consistency:The following buses have carriers which are not defined:
Index(['north_de', 'east_de', 'west_de'], dtype='object', name='Bus')
WARNING:pypsa.consistency:The following generators have carriers which are not defined:
Index(['gen_no1', 'gen_ost1', 'gen_west1'], dtype='object', name='Generator')
WARNING:pypsa.consistency:The following lines have carriers which are not defined:
Index(['north_de_east_de', 'east_de_west_de', 'west_de_north_de'], dtype='object', name='Line')
WARNING:pypsa.consistency:The following lines have zero r, which could break the linear load flow:
Index(['north_de_east_de', 'east_de_west_de', 'west_de_north_de'], dtype='object', name='Line')
WARNING:pypsa.consistency:The following buses have carriers which are not defined:
Index(['north_de', 'east_de', 'west_de'], dtype='object', name='Bus')
WARNING:pypsa.consistency:The following generators have carriers which are not defined:
Index(['gen_no1', 'gen_ost1', 'gen_west1'], dtype='object', name='Generator')
WARNING:pypsa.consistency:The following lines have carriers which are not defined:
Index(['north_de_east_de', 'east_de_west_de', 'west_de_north_de'], dtype='object', name='Line')
WARNING:pypsa.consistency:The following lines have zero r, which could break the linear load flow:
Index(['north_de_east_de', 'east_de_west_de', 'west_de_north_de'], dtype='object', name='Line')
C:\Users\AJESH\AppData\Roaming\Python\Python312\site-packages\linopy\common.py:147: UserWarning:

coords for dimension(s) ['Generator'] is not aligned with the pandas object. Previously, the indexes of the pandas were ignored and overwritten in these cases. Now, the pandas object's coordinates are taken considered for alignment.

INFO:linopy.model: Solve problem using Highs solver
INFO:linopy.io: Writing time: 0.03s
INFO:linopy.solvers:Log file at C:\Users\AJESH\AppData\Local\Temp\highs.log
INFO:linopy.constants: Optimization successful:
Status: ok
Termination condition: optimal
Solution: 9 primals, 25 duals
Objective: 1.37e+03
Solver model: available
Solver message: optimal

INFO:pypsa.optimization.optimize:The shadow-prices of the constraints Generator-ext-p-lower, Generator-ext-p-upper, Line-fix-s-lower, Line-fix-s-upper, Kirchhoff-Voltage-Law were not assigned to the network.

('ok', 'optimal')

In [199]:
network.buses_t.marginal_price

Bus       north_de  east_de  west_de
snapshot
0             10.0     30.0     50.0

In [200]:
network.generators_t.p

Generator  gen_no1  gen_ost1  gen_west1
snapshot
0             26.5      19.0       14.5

In [201]:
network.lines_t.p0

Line      north_de_east_de  east_de_west_de  west_de_north_de
snapshot
0                      2.5             11.5             -14.0

In [202]:
clearing_price_redisp = network.buses_t.marginal_price.iloc[0].max()
clearing_price_redisp

50.0